<section class="terms-container">
  <h2>Privacy Policy</h2>
  <p><strong>Effective Date:</strong> 01/07/2025</p>

  <p>
    This Privacy Policy outlines how we collect, use, protect, and handle your
    information when you visit www.lynqa.finance or engage with our services.
    <br />

    1. What Information We Collect - We only collect personal data voluntarily
    submitted by you via: Contact forms (e.g., name, email, message) and Email
    inquiries. We do not collect sensitive financial information, passwords, or
    government-issued IDs through this site.
    <br />

    2. How We Use Your Information - We use your information strictly to:
    Respond to your inquiries,Communicate regarding services you express
    interest in and to improve our user experience and professional delivery. We
    do not sell, rent, or share your personal data with third parties for
    marketing purposes.
    <br />

    3. Cookies & Tracking - We may use basic cookies or analytics tools to:
    Understand site traffic patterns and monitor user interactions to improve
    the site. These cookies do not collect personal data and can be disabled
    through your browser settings if desired.
    <br />
    4. Data Security - Your data is protected with best practices: Secure
    contact form handling, Limited access to backend systems and no unnecessary
    data retention
    <br />
    5. Third-Party Services - We may use trusted tools like: Google Analytics
    and Email service providers. These are used strictly for operational
    efficiency. We do not give these services permission to market to you
    directly.
    <br />
    6. Your Rights - You have the right to: Access or update your information,
    Request deletion of your data and withdraw consent at any time
    <br />

    To exercise these rights, just email us at: contact&#64;lynqa.finance
    <br />

    7. Changes to This Policy - We reserve the right to update this policy
    whenever needed. You’ll find the latest version right here with the revised
    effective date.
    <br />

    8. Contact Us - Questions, doubts or feedbacks Reach out anytime:
    contact&#64;lynqa.finance
  </p>

  <button class="cta-button" (click)="goBack()">← Go Back</button>
</section>
